@import "tailwindcss";

@font-face {
  font-family: "google";
  src: url("/google.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "google", sans-serif;
}

.btn {
  @apply disabled:opacity-50 px-6 py-2 rounded-lg text-white text-center cursor-pointer disabled:cursor-not-allowed;
}
.primary-btn {
  @apply bg-blue-500 hover:bg-blue-600;
}
.critical-btn {
  @apply bg-red-500 hover:bg-red-600;
}
